{% extends 'base_login.html' %}
{% load socialaccount %}
{% load account %}

{% block title %}Вход{% endblock %}
            {% block content %}
            <div class="login-wrapper">
                <div class="login-main well">
                    <form method="post" action="/accounts/login/">
                        {% csrf_token %}
                        <div class="form-group has-feedback has-feedback-left">
                            <span class="form-control-feedback fui-user"></span>
                            <input class="form-control" autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="Введите логин" type="text">
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input class="form-control" id="id_password" maxlength="30" name="password" placeholder="Введите пароль" type="password">
                            <span class="form-control-feedback fui-lock"></span>
                        </div>
                        <div class="login-remember">
                            <label class="checkbox" for="id_remember">
                                <input class="custom-checkbox" id="id_remember" name="remember" type="checkbox">
                                <span class="icons">
                                    <span class="icon-checked"></span>
                                    <span class="icon-unchecked"></span>
                                </span>
                                Сохранить пароль
                            </label>
                        </div>
                        <div class="login-forgotpassword">
                            <a class="button secondaryAction" href="/accounts/password/reset/">Забыли пароль?</a>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction btn btn-primary" type="submit">Войти</button>
                        <a class="button secondaryAction" href="{{ signup_url }}">Зарегистрироваться</a>
                        <div class="separator">
                            <span> или </span>
                            <hr>
                            <br>
                        </div>
                        <div class="login-twitter">
                            <a class="btn btn-block btn-lg btn-inverse" href="{% provider_login_url "twitter" %}">
                                <span class="fui-twitter"></span> Войти через Twitter
                            </a>
                        </div>
                        <div class="login-tumblr">
                            <a class="btn btn-block btn-lg btn-info" href="{% provider_login_url "tumblr" %}">
                                <span class="fui-tumblr"></span> Войти через Tumblr
                            </a>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}