{% extends 'base_login.html' %}
{% load socialaccount %}
{% load account %}
{% load url from future %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
            <div class="login-wrapper">
                <div class="login-main well" style="text-align:justify">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                    <li>{{ error|escape }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                        {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <p>Забыли пароль? Введите свой email-адрес ниже, и мы вышлем вам ссылку для его сброса.</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <div class="form-group has-feedback has-feedback-left">
                            <span class="form-control-feedback fui-mail"></span>
                            <input class="form-control" autofocus="autofocus" id="id_email" name="email" size="30" type="email" placeholder="Введите email">
                        </div>
                        <button class="primaryAction btn btn-primary" type="submit">Сбросить мой пароль</button>
                    </form>
                    <hr>
                    <p>Если у вас возникли проблемы с восстановлением доступа к сайту, <a href="mailto:diploma@codetinkers.ru">напишите нам</a>.</p>
                    {% if user.is_authenticated %}
                    <div class="alert alert-warning" role="alert">
                        <p>Внимание! Вы уже вошли на сайт как пользователь <strong>{% user_display user %}</strong>.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
{% endblock %}