{% extends "base_login.html" %}
{% load account %}

{% block title %}Пароль сброшен{% endblock %}

{% block content %}
            <div class="login-wrapper">
                <div class="login-main well" style="text-align:justify">
                    <p>Мы отправили вам письмо.</p>
                </div>
            </div>
{% endblock %}