{% extends "base_login.html" %}

{% load url from future %}

{% block title %}Регистрация{% endblock %}

{% block content %}
            <div class="login-wrapper">
                <div class="login-main well" style="text-align:justify">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                    <li>{{ error|escape }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                        {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" autofocus="autofocus" id="id_username" name="username" size="30" type="text" placeholder="Имя пользователя">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="id_email" name="email" size="30" type="email" placeholder="Email (необязательно)">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="id_password1" name="password1" size="30" type="password" placeholder="Пароль">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="id_password2" name="password2" size="30" type="password" placeholder="Пароль (ещё раз)">
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction btn btn-primary" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
{% endblock %}


