hr {
    height: 2px;
    background-color: #b2bcc5;
    border-radius: 0.5px;
}

.avatar {
    padding-bottom: 0;
}

td, th, ul, p {
    font-size: 14px;
}

.avatar img {
    margin: -12px 0.5em 0 0.5em;
    border-radius: 3px;
    padding-bottom: 0;
}

div.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/login-background.jpg) no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/img/login-background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/img/login-background.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

div.user-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/user-background.jpg) no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/img/login-background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/img/login-background.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

img.login-logo {
    position: relative;
    float: right;
    margin: 1em 1.5em;
}

div.login-wrapper {
    position: absolute;
    top: 50%;
    height: 0;
    left: 4em;
}

div.login-main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26em;
    text-align: right;
}

button.primaryAction {
    width: 100%;
}

div.separator {
    position: relative;
    margin-top: -0.5em;
}

.separator hr {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.separator span {
    font-size: medium;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 0.5em 1em 0 1em;
    background-color: #f2f5f8;
    left: 50%;
    transform: translateX(-50%);
}

div.login-remember {
    float: left;
}

a.secondaryAction {
    font-size: smaller;
    margin: 0 0;
}

div.login-twitter {
    float: left;
    width: 50%;
    padding-right: 0.5em;
    padding-top: 0.75em;
}

.login-twitter a, .login-tumblr a {
    font-size: smaller;
}

div.login-tumblr {
    float: right;
    width: 50%;
    padding-left: 0.5em;
    padding-top: 0.75em;
}

.has-feedback-left {
    position: relative;
}

.has-feedback-left input {
    padding-left: 30px;
}

.has-feedback-left span {
    position: absolute;
    padding: 10px 12 px;
    pointer-events: none;
    left: 0.5em;
}

div.footer {
    position: absolute;
    left: 4em;
    bottom: 2em;
}

.footer p {
    color: white;
    text-shadow: 0.5px 0.5px #34495e;
    letter-spacing: 1px;
}

nav.navbar {
    top: 1em;
}

.navbar-brand svg {
    height: 48px;
    margin: -11px 0.5em 0 0.5em;
    fill: #34495e;
}

.navbar-brand svg:hover {
    fill: #1abc9c;
}

label[for="id_tag"] {
    font-size: 24px !important;
    font-weight: bold;
}

span#id_tag-wrapper {
    border: none;
    min-height: 24em;
}

span#id_tag-wrapper input[type="text"] {
    position: absolute;
    display: block;
    bottom: -44px;
    height: 42px;
    width: 27em;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.467;
    color: #34495e;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
}

span#id_tag-wrapper input[type="text"]:focus {
    border-color: #1abc9c;
    box-shadow: none;
    outline: 0;
}

span#id_tag-wrapper input[type="text"]::-moz-placeholder {
    color: #b2bcc5;
    opacity: 1;
}

span#id_tag-wrapper input[type="text"]:-ms-input-placeholder {
    color: #b2bcc5;
}

span#id_tag-wrapper input[type="text"]::-webkit-input-placeholder {
    color: #b2bcc5;
}

span#id_tag-wrapper input[type="text"]::placeholder {
    color: #b2bcc5;
    opacity: 1;
}

span#id_tag-deck span {
    margin-bottom: 0.5em;
}

.control-group label {
    font-size: large;
}

.tag-list {
    list-style-type: none;
    font-weight: bold;
}

.tag-list li {
    display: inline-block;
}

h5, th {
    color: #48c9b0;
}

div.well, nav.navbar {
    background-color: #f5f5f5;
}
