<!DOCTYPE html>
{% load staticfiles %}{% load bootstrap_toolkit %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
        <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    </head>
    <body style="padding: 0 !important">
        <div class="login-background">
            <img class="login-logo" src="{% static 'img/login-logo.png' %}">
            {% block content %}{% endblock %}
            <div class="footer">
                <p>&copy; Илья Дёмин 2015</p>
            </div>
        </div>
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/flat-ui.min.js' %}"></script>
    </body>
</html>