<!DOCTYPE html>
{% load staticfiles %}{% load bootstrap_toolkit %}{% load avatar_tags %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
        <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    </head>
    <body style="padding: 0 !important">
        {% load staticfiles %}<div class="user-background"></div>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 1024 1024" xml:space="preserve" height="48px" viewBox="0 0 1024 1024" width="48px" version="1.1" y="0px" x="0px" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
                            <metadata>
                                <rdf:RDF>
                                    <cc:Work rdf:about="">
                                        <dc:format>image/svg+xml</dc:format>
                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title/>
                                    </cc:Work>
                                </rdf:RDF>
                            </metadata>
                            <path d="M503.47,281.48l1.061,1.756,2.09,0.656,1.881,0.046c4.42-11.807-5.855-11.807-14.049-13.305l-4.131,0.888,0.696,3.135,12.45,6.82zm100.63,15.66l1.691,0.244c4.21-2.38,9.46,2.87,11.21-4.13-5.25,0-8.75-1.75-14,0,0,0,0,3.5,1.1,3.89zm-37.7-3.8l6.347-0.103c-1.25-5.24-13.5-8.74-13.5-1.74-1.75,1.75,3.5,1.75,7.15,1.84zm-124.4-99.84c-3.5,5.25-3.5-3.5-6.915-1.089l-1.459,0.693c-5.626,7.396-19.626,9.146-17.876,21.396,12.26-1.75,19.26-10.5,26.26-21zm42.91,64.98c-8.976-4.488-8.976,4.488-10.068,12.08l2.83,2.945c7.24-1.56,11.73-10.53,7.24-15.02zm-37.66-70.23c0,1.331-1.015,3.673-2.27,5.489,1.791-1.276,4.02,0.114,4.02,1.511,0,7-10.5,1.75-10.5,8.75,1.75,0,3.5,0,1.75,1.75s-5.25,1.75-7,3.5h7c-0.875,2.625-3.938,3.062-6.562,3.938-2.625,0.873-4.812,2.162-3.938,6.504,2.188-1.699,4.594-2.786,7.109-3.524,7.547-2.215,16.078-1.23,22.641-5.168-1.75,0-1.75-1.75-3.5-1.75,3.5-1.75,7-3.5,5.25-8.75-1.75,0-1.75,1.75-3.5,1.75,3.5-7-3.5-15.75,3.434-20.331l1.458-2.297c-1.391-0.122-4.891-0.122-6.641-0.122,1.75-1.75,3.5-1.75,5.25-3.5-8.75,0-12.25,8.75-19.25,12.25,1.75,3.5,5.25-1.75,5.25,0zm-3.5,7c0.42-0.419,0.837-0.941,1.23-1.511-0.45,0.32-0.88,0.8-1.23,1.51zm406.22,205.19l-3.972-1.357-1.624,2.61-0.088,5.603,0.208,1.998,0.807,0.519,1.846-1.445,1.907-0.498,0.926,1.54,1.648,5.227,3.219,6.064,1.73,0.181-1.799-9.641,0.79,0.021,0.905,0.924,0.633-0.333-0.068-2.175-1.111-5.424-3.346-10.892-1.688-1.208,0.157,3.143,0.332,3.357-0.455,1.603-0.97,0.2zm-1.66,62.26l2.786,0.697,2.526-0.925,1.562-2.973,1.148-4.033-0.82-1.132c-3.288,1.144-7.745,2.411-11.067,3.435l-2.211,3.215-0.82,5.134,0.037,5.742-0.793,6.207-1.388,5.792-0.257,5.191,0.924,4.865,0.379,5.694-0.321,5.851,0.602,4.108,1.876,0.171,1.18-5.353-0.557-10.796,1.062-3.102,1.221,3.208,0.807,4.207,2.149,2.257,2.181-2.517,0.086-6.273-2.283-7.149-0.096-2.304,0.844-2.501,2.574-5.19-0.205-3.116-2.387,1.522-2.389,2.644-2.109-1.551-0.684-5.404,1.617-5.021,2.82-0.61zm4.32,57.14l-1.911,0.075-5.93,3.265-3.975-0.856-1.877,2.041-0.748,3.925,1.564,1.88,6.245-1.685,7.235-6.448-0.61-2.19zm-11.91-4.62l-7.732,0.228-3.817-0.495-2.69,3.113,2.77,4.17,5.898,0.727,1.895-0.832,3.469-4.655c0.07-0.76,0.14-1.51,0.21-2.26zm20.62-74.31l-0.775-3.092-0.697,1.477-0.215,4.419-0.021,4.706,0.469,8.716-0.068,4.417,0.283,4.188,0.486,1.072,0.516-0.376,0.198-1.99-0.116-2.231-0.059-4.198,0.852-2.418,1.019-1.382,0.383-3.47-1.723-5.315-0.52-4.53zm-6.53,84.37l-4.201,4.69-2.115,3.391-1.008,5.317,1.254,2.936,2.112-1.481,3.992-6.733,8.066-10.201-4.317-0.031-3.78,2.1zm20.52-54.99l-0.612,0.519-0.618,4.569-0.653,5.493-0.79,2.468-0.662-2.081-0.229-5.542,0.257-6.347,0.096,0.005-0.697-4.624-1.107-2.407-0.571,0.152-1.162,1.552-2.649-0.282-0.676,0.507-0.309,2.302,0.281,2.391,1.001,5.208,0.229,0.275,0.184,0.483,0.209,0.349,0.428,0.337,0.174,0.451,0.182,0.98,0.215,0.78,1.904-0.07,0.287,0.53-0.219,1.936-0.421,1.425-0.749,0.13-0.307,0.711,0.006,2.501,0.045,0.825,0.105,0.789,0.035,0.928-0.093,3.393,0.021,1.474,0.291,0.249,0.365-0.682,0.376-3.238,0.358-1.052,0.355-0.582,0.336-0.06,0.331,0.451,0.126,1.589,0.052,2.601-0.03,1.035,1.633,0.566,0.232,1.371,0.147,0.152,0.079,0.64,0.027,0.567,0.051,0.332,0.146-0.016,0.011,1.085,0.055,0.739-0.604,6.989-0.359,4.482-0.253,2.37-0.167,1.175-0.127,1.081,0.037,0.401-0.088,0.93-0.517,0.612-0.308,0.695-0.414,2.094-0.454,4.104,0.099,1.704,0.219-0.388,0.391-2,0.293-1.154,0.106,0.115,0.017,1.223-0.662,4.318-0.24,1.757-0.074,0.651,0.115-0.605c3.053-16.695,4.949-33.574,5.688-50.507l-0.78-7.9zm-47.4-111.81l2.535,6.622,0.4,6.155,1.128,3.759,1.771,2.701,1.005-0.481-0.335-6.062,0.42-2.625,2.701,0.373,2.942,2.101,1.097-3.351-2.163-5.328-3.202,0.089-3.757-2.903-2.509-7.162-1.429-9.067-3.101-6.605-3.701-4.138-1.268-0.283-0.455,1.448,0.783,3.047,1.018,3.149,1.148,6.056,1.672,6.222,3.31,6.27zm11.72,19.02l-0.811,1.229-0.01,1.47,0.906,4.665,1.168,0.7,1.043-0.584,0.574-0.248,0.253-1.016-0.273-1.63-0.399-1.676-1.132-2.205-1.32-0.7zm5.1,0.49l2.447,10.65,0.991,1.206,0.551-0.821-0.482-2.496-0.77-2.758-0.536-2.728,0.068-2.141-0.185-1.445-0.383-1.535-1.275-2.206-1.09-0.595-0.984-0.017-0.406,1.528,0.93,1.863,1.12,1.5zm-17.39,114.09l3.76-2.789,1.582-7.017c0.004-1.8-0.006-3.599-0.023-5.396l0.557-2.344,1.777-4.766,0.65-3.048,0.656-6.233,1.992-3.605,1.477-3.965-0.775-3.32-3.36-5.646-1.66-3.7,0.93-6.621,2.112-5.846-1.278-4.693-8.552-6.95-2.888,3.314-0.848,9.936-0.462,1.028c2.044,20.184,2.885,40.559,2.526,60.886l1.82,0.77zm-76.89,111.96l-2.827-6.162-6.117-0.624-3.921,2.517-1.935,3.964-16.15,20.408-17.186,9.625-2.662,3.081-1.951,3.55-0.947,3.468,1.057,22.562-8.266,20.928-0.748,3.625-0.619,7.454,0.564,3.114,6.453,7.306,9.539,1.579,9.852-7.154,5.318-16.505,21.096-43.834,6.221-27.098,1.537-3.151,1.107-3.327,0.277,0.395c0.215-1.88,0.424-3.76,0.622-5.643l-0.331,1.037,0.03-1.14zm-188.43-452.54c2.744-0.001,4.549-0.002,5.636-0.002h-5.64zm-50.04-87.5c-247.43,0-448,200.57-448,448,0,247.41,200.57,448,448,448,247.41,0,448-200.59,448-448,0-247.43-200.59-448-448-448zm0,816.27c-78.196,0-150.68-24.387-210.31-65.941-0.07-0.126-0.112-0.24-0.094-0.303,0.031-0.11,0.298-0.165,0.592-0.119,0.294,0.045,0.585,0.012,0.648-0.072,0.063-0.087-0.401-0.525-1.034-0.979-0.63-0.453-1.726-1.119-2.435-1.479-0.708-0.352-1.608-0.747-2.001-0.863-0.271-0.08-1.244-0.485-2.436-1.01-19.57-14.303-37.679-30.481-54.054-48.284-0.22-0.378-0.497-0.794-0.81-1.196-0.702-0.894-1.832-2.042-2.513-2.553-0.06-0.045-0.122-0.082-0.184-0.125-1.983-2.219-3.939-4.461-5.869-6.727,0.952-0.174,1.403-0.868,1.006-1.76-0.486-1.098-2.061-3.403-3.492-5.129,1.61-0.612,5.275-0.617,7.113-4.121,1.851-10.503-3.634-17.494-7.284-26.239,1.832-0.003,3.662,1.743,5.491,3.491,3.215-5.257,4.829-10.617,5.496-16.061,0.334-2.723,0.431-5.464,0.366-8.223-0.295-15.979-13.098-29.958-9.409-43.965,5.533-21.01,16.561-40.281,20.652-62.33,0.969-2.03,2.097-4.011,3.205-5.997,2.215-3.974,4.347-7.98,4.94-12.489,0.721-2.771,1.083-7.563,0.767-10.662-0.318-3.095-0.979-6.727-1.466-8.073-0.488-1.345-1.523-3.35-2.298-4.455-0.773-1.107-5.719-4.833-10.989-8.275-5.269-3.443-9.614-6.271-9.656-6.28-0.044-0.012-0.092-0.114-0.11-0.226-0.018-0.111-0.248-0.489-0.512-0.839-0.264-0.351-0.624-0.949-0.8-1.337-0.175-0.384-0.473-0.721-0.66-0.747-0.188-0.023-0.5-0.025-0.694-0.001-0.195,0.022-0.533-0.043-0.755-0.147-0.221-0.105-0.566-0.33-0.767-0.497-0.201-0.169-0.986-0.424-1.746-0.569-0.758-0.145-1.625-0.477-1.925-0.734-0.3-0.258-0.696-0.482-0.881-0.496-0.186-0.014-0.486,0.012-0.668,0.065-0.182,0.048-2.837,0.028-5.899-0.041-3.062-0.07-5.808,0.023-6.103,0.206-0.293,0.188-0.584,1.012-0.647,1.831-0.063,0.818-0.36,1.641-0.659,1.823-0.302,0.185-0.818,0.34-1.147,0.349-0.332,0.007-0.746-0.258-0.924-0.586,1.644-8.969-5.667-19.458-14.835-15.942,0,0-0.006,3.499-0.009,5.251-7.327-1.738,1.847-8.754-3.646-10.496-7.327-1.738-3.677,7.006-9.178,8.767,7.357-15.764,5.549-29.761-3.589-43.748-5.476-12.242-20.125-17.468-20.442-33.634-0.614-1.88-1.478-3.752-1.92-4.162-0.44-0.408-1.578,0.027-2.526,0.969s-1.948,1.707-2.224,1.699c-0.275-0.007-0.499-0.529-0.495-1.16,0-0.629,0.33-3.012,0.73-5.297,0.09-0.521,0.165-1.028,0.226-1.511,37.699-163.35,184.06-285.13,358.86-285.13,19.306,0,38.262,1.493,56.763,4.356-3.383,0.849-6.604,1.983-9.508,3.436-1.539,0.384-3.073,0.785-4.611,1.465-0.725,0.17-1.504,0.285-2.396,0.285,3.09,1.031,5.575-0.369,7.817-1.692-0.574,0.054-1.097,0.161-1.603,0.283,0.379-0.105,0.744-0.242,1.131-0.34h0.567c0.153-0.091,0.312-0.182,0.462-0.271,0.071-0.018,0.143-0.04,0.215-0.057,2.352-0.547,4.758-0.984,7.164-1.422,1.781,0,3.559,0.449,5.109,0.434-1.411,0.774-2.822,1.485-4.234,2.191-2.65,0.87-4.4,2.62-7.9,4.37h5.25c-1.75,1.75-1.75,1.75-3.5,3.5h1.75c-5.25,1.75-8.75,1.75-14,1.75,1.75-3.5,7,0,10.5-3.5-15.75,0-29.75,3.5-45.281,7.584-2.328,0.833-4.625,1.747-6.89,2.744-2.716,1.196-5.385,2.514-8.001,3.957-6.329,3.215-16.829,8.465-13.329,11.965s7,4.375,10.5,5.688c1.75,0.656,3.5,1.422,5.233,2.681,1.767,2.132,3.517,3.882,5.267,5.632,10.5,1.76,19.25-10.49,10.5-19.24,2.625-1.75,4.812-4.375,7.219-6.781s5.031-4.594,8.531-5.469c-5.25,1.75-5.25,8.75-3.5,10.5,3.5,2.625,7.438,0.875,11.594-1.094s8.531-4.156,12.906-2.406c-1.312,1.312-3.609,2.188-6.18,2.953s-5.414,1.422-7.82,2.297c-5.25,0-7,7-3.5,10.5-1.75-1.75-5.25-1.75-7-1.75-1.75,17.5-22.751,19.25-35.001,12.25,1.75,0,5.25,1.75,7-1.75,0-3.5-1.75-3.5-5.25-1.749v-5.251c-7-1.75-7,7-7,12.25-1.75,0-5.25-1.75-7-1.75-14.583,10.208-27.95,15.555-43.142,21.105-3.039,1.11-6.149,2.219-9.358,3.291,8.75,3.604,8.75,19.354,0,17.604-22.75-7-49-12.25-52.5,15.75,0,3.5-5.25,8.75-1.75,12.25,14,10.5,33.249,10.5,48.999,3.5,5.25-1.75,8.75-10.5,15.036-12.204,2.652-1.147,5.322-2.305,7.718-3.942,2.372-1.664,4.474-3.81,5.968-6.961,3.011-2.491,6.371-3.801,9.987-4.572,3.616-0.77,7.491-1,11.534-1.33,2.695-0.22,5.467-0.484,8.289-0.974,11.469,10.733,30.702,23.762,37.702,39.512,1.75-5.25,6.754-12.358,13.754-5.358-7-12.25-32.987-23.42-34.737-40.92,17.5,12.24,35,20.99,47.25,41.99,1.75,1.75,7,3.5,10.5,1.75,5.246-3.5,3.938-6.125,2.188-8.75s-3.938-5.25-0.438-8.75c1.75-3.5,3.062-2.625,4.525-0.38,11.23,24.88,44.48,12.63,56.73,23.13,17.5,14-10.5,31.5-31.5,28-12.25-3.5-22.75-5.25-32.505-8.939-2.174-0.59-4.276-1.16-6.265-1.7-2.438-0.205-5.605,0.179-7.035,0.853-1.428,0.672-2.994,2.469-3.469,3.99-0.482,1.522-0.844,3.594-0.807,4.604,0.034,1.011-0.967,2.491-2.225,3.292-1.266,0.798-4.632,0.246-7.482-1.229-2.857-1.475-5.848-2.853-6.651-3.062-0.8-0.209-4.255-1.85-7.677-3.646-1.709-0.897-4.057-1.845-6.458-2.65-12.178-0.262-26.178-9.012-19.178-23.012-11.375-4.375-23.625-5.25-35.656-3.719-3.008,0.383-6.007,0.91-8.989,1.558-16.59,5.67-32.34,5.67-49.84,5.67-12.249,0-20.999,14-26.568,25.168-1.323,1.96-2.755,3.825-4.274,5.596-6.074,7.084-13.407,12.783-21.406,15.875-3.331,1.661-6.39,3.542-9.205,5.618-22.522,16.602-29.425,45.638-35.94,73.217-0.635,0.974-1.463,2.547-1.836,3.494-0.375,0.948-0.503,3.219-0.285,5.048,0.219,1.827,0.114,4.893-0.233,6.812-0.346,1.919-0.649,4.255-0.673,5.191-0.023,0.936,0.356,2.132,0.843,2.655,0.488,0.525,1.49,1.006,2.226,1.07,2.463,2.376,4.42,5.034,6.079,7.819,1.659,2.788,3.02,5.703,4.287,8.619,13.48,45.56,64.23,42.06,100.04,27.82,2.936-0.622,5.843-1.238,8.647-1.833,2.804-0.594,5.508-1.166,8.034-1.7,6.166,0.816,11.368,2.085,11.555,2.819,0.186,0.734,0.603,1.696,0.919,2.139,0.319,0.443,0.914,1.103,1.323,1.467,0.407,0.365,0.976,1.046,1.266,1.515,0.287,0.468,0.69,1.274,0.899,1.791,0.205,0.516,1.14,1.489,2.078,2.163,0.935,0.675,5.522,1.153,10.177,1.078,6.793-0.449,10.293,3.051,13.793,8.301,7,15.75-5.25,33.25,9.68,44.976,0.692,0.646,2.172,2.598,3.996,5.224,1.825,2.627,3.996,5.928,6.07,9.265,4.151,6.681,8.159,16.509,8.904,21.841,0.749,5.329,2.201,11.09,3.23,12.803,1.025,1.709,1.367,5.955,0.755,9.438-0.308,1.741-0.986,4.007-1.857,6.271-8.027,10.933-13.277,24.933-11.527,37.183,7,21,21,40.25,25.297,62.188l0.014,2.377c0.603,1.875,1.716,3.936,2.481,4.577,0.766,0.643,1.621,1.488,1.9,1.876,0.277,0.392,0.807,0.968,1.17,1.278,0.365,0.311,0.803,0.634,0.967,0.715,0.164,0.082,1.237,2.037,2.383,4.346,1.145,2.307,3.298,5.694,4.781,7.524s3.217,5.282,3.846,7.672c0.632,2.391,0.84,4.799,0.461,5.355-0.376,0.558-0.789,1.563-0.916,2.237-0.127,0.677-0.004,1.916,0.277,2.76,0.279,0.841,1.572,2.748,2.874,4.235,1.302,1.49,3.069,3.227,3.927,3.864,0.855,0.634,3.586,1.249,6.064,1.361,2.478,0.113,5.239,0.007,6.135-0.237,0.893-0.244,2.219-0.982,2.939-1.643,0.725-0.661,1.863-1.917,2.533-2.796,0.67-0.877,8.996-1.861,18.504-2.188,8.525-4.113,19.887-9.601,28.407-13.716,4.778-4.908,9.406-10.447,10.288-12.304,0.879-1.857,4.061-5.146,7.075-7.304,3.011-2.158,5.961-6.599,6.552-9.868,0.588-3.266,2.037-7.015,3.207-8.324,4.084-4.988,12.834-4.988,12.834-10.238,3.5-19.25,10.5-35,23.369-51.375,1.657-2.734,3.243-5.512,4.74-8.328,8.986-16.896,14.756-35.193,13.422-54.161-0.738-2.162-1.418-4.272-1.979-6.337-10.094-37.207,20.367-60.007,55.654-75.378,0.896-2.187,1.802-4.506,2.725-6.914,2.748-7.225,5.605-15.254,8.306-22.924,0.899-2.557,1.78-5.073,2.636-7.506,4.877-5.077,3.127-12.077,3.127-17.327-10.5,5.25-21,3.5-31.069,5.44-2.358,0.195-4.628,0.385-6.72,0.561-1.729-0.452-3.753-1.187-4.498-1.635-0.745-0.447-5.814-3.281-11.088-5.678-4.812-2.188-5.742-4.786-9.188-7-1.723-1.108-4.553-7.916-6.562-9.625-2.01-1.708-5.243-6.385-6.562-7.875-6.354-8.644-11.812-16.188-17.062-26.688-7-10.5-15.75-21-21.721-33.466-1.682-2.269-3.418-4.497-5.199-6.682-1.784-2.185-3.609-4.325-5.476-6.419-4.354-4.183-6.104-5.933-9.201-9.526-1.255-1.054-0.759-2.59,1.104-3.415,10.75-5.24,7.25,10.51,15.95,9.66,1.982,1.965,3.92,3.968,5.827,6.004,1.903,2.037,3.776,4.106,5.619,6.205,2.458,2.798,4.867,5.648,7.239,8.539,9.36,11.61,18.11,23.86,27.3,35.98,1.117,1.225,2.576,3.422,4.025,5.976,1.446,2.553,2.885,5.462,3.965,8.11,5.568,31.55,40.568,15.8,59.818,8.8,10.5-5.25,22.75-10.5,24.5-22.75,5.25-24.5-14-38.5-29.75-52.5-1.75,14-17.5,14-22.552,3.504-1.511-1.754-2.823-3.504-3.698-5.254,0,1.75-1.75,3.5-1.75,5.25-3.5-8.75-10.5-17.5-15.75-24.5,8.75,0,15.75,5.25,25.238,9.389,2.895,1.293,5.787,2.595,8.686,3.883,17.38,7.72,35.02,15.07,57.07,12.97,4.375-0.875,7,2.625,8.531,7.656,0.766,2.516,1.258,5.414,1.562,8.335,0.304,2.92,0.443,5.858,0.495,8.465,1.966-2.742,3.739-5.609,5.288-8.578,1.548-2.971,2.857-6.031,3.94-9.163,6.087-17.56,5.168-37.348,0.103-55.974,43.025,60.271,68.346,134.06,68.346,213.76,0,203.37-164.88,368.26-368.26,368.26zm52.5-730.52c-1.203,0.602-2.402,0.99-3.605,1.32,1.24-0.72,2.42-1.32,3.6-1.32zm-4.34,1.75c-0.03,0.019-0.065,0.038-0.096,0.057,0.301-0.028,0.604-0.057,0.937-0.057h-0.841z"/>
                        </svg>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'profile.views.user_profile' %}">Изменить теги</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{% url 'account_logout' %}">Выход</a></li>
                </ul>
                <p class="navbar-text pull-right">
                    <i>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</i>
                </p>
                {% comment %}
                <span class="avatar navbar-text pull-right">{% avatar user 48 %}</span>
                {% endcomment %}
            </nav>
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/flat-ui.min.js' %}"></script>
        {% comment %}
        <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 3000);
        </script>
        {% endcomment %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>