{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% load static %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
<div class="well">
    <h5>Ваши теги:</h5>
    <ul class="tag-list">
        {% for tag in tags %}
        <li><span class="fui-tag"></span>&nbsp;&nbsp;&nbsp;{{ tag.name }}&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
    </ul>
    <hr>
    <h5>Ваши новости:</h5>
    <div class="table-container">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th style="width:20%">Дата публикации</th>
                    <th>Заголовок</th>
                    <th style="width:13%">Источник</th>
                </tr>
            </thead>
            <tbody>
            {% for novelty in news %}
                <tr>
                    <td>{{ novelty.date }}</td>
                    <td>{{ novelty.title }}</td>
                    <td>
                        <i class="icon-share-alt"></i> <a href="{{ novelty.link }}">Источник</a>
                        {% if vk %}
                        <a href="//vk.com/share.php?url={{ novelty.link|urlencode }}" target="_blank">
                            <img src="{% static '//vk.com/images/vk16.png' %}">
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    {{ news|pagination }}
</div>
{% endblock %}