{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Тэги{% endblock %}

{% block content %}<div class="well">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="." method="POST" class="form">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <button type="submit" class="btn btn-primary pull-right">Сохранить</button>
        </form>
    </div>
    <div class="col-md-3"></div>

    </div>
</div>{% endblock %}

{% block extra_scripts %}{% include 'autocomplete_light/static.html' %}{% endblock %}